<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="redesign no-js"  data-ffo-opensanslight=true data-ffo-opensans=true >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>dopeStack</title>
</head>
<body>

<!---          --->

<h1>DopeStack</h1>

<div id="app">
  <div id="summerfriends" \>
    <!---Inputs for the stack--->
    <input v-model="newTodo" placeholder='Add a link' v-on:keyup.enter="addTodo" style="color: orange;">
  </form>
  </div>

  <!---          --->

  <div id="dramSingsSpecial" style="color: blue;">
    <!--Should put tracks into here-->
    <ul>
      <li v-for="elem in dopestack | orderBy 'timestamp' -1">
        <span><a href="{{ elem.link }}">{{elem.title}}</a></span>
        <button v-on:click="removeTodo($index)">X</button>
        <button v-on:click="toggleTitleDialog($index)">📰</button>
        <input v-model="elem.title" v-show="elem.showTitleInput" />
        -- <em>{{elem.timestamp}}</em>
      </li>
    </ul>
  </div>

  <!---          --->
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script type="text/javascript">
$(document).bind('ready', main(event));
/*
function save(localstorage){
  //will ask the user to store stuff
  localstorage.root.getFile("stack.txt", {create:true});
}
*/


function main(e){
  if (!Date.now) {
    Date.now = function() { return new Date().getTime(); }
  }

  new Vue({
    el: '#app',
    data: {
      newTodo: '',
      dopestack: [

        /*{ link: 'spotify:track:2SdLeqiPveLBY4GNg47aRO',
          title: 'Body - Bauuer',
          timestamp: Date.now(),
          showTitleInput: false
        } */
      ]
    },
    methods: {
      addTodo: function () {
        var text = this.newTodo.trim()
        if (text) {
          this.dopestack.push({ link: text,
                                timestamp: Date.now(),
                                title: text,
                                showTitleInput: true})
          this.newTodo = ''
        }
      },
      removeTodo: function (index) {
        this.dopestack.splice(this.dopestack.length - index - 1, 1)
      },
      toggleTitleDialog: function(index) {
        this.dopestack[this.dopestack.length - index - 1].showTitleInput = !this.dopestack[this.dopestack.length - index - 1].showTitleInput
      },
      saveTitle: function(index, newTitle){
        this.dopestack[this.dopestack.length - index - 1].title = newTitle
      }
    }
  });

  //TODO: check if this shit is already there
          // if so, load it up

  //otherwise, request and allocate a filesystem:
  navigator.webkitPersistentStorage.requestQuota(1024*1024, function() {
    window.webkitRequestFileSystem(window.PERSISTENT, 1024*1024, save);
  });
}
</script>
</body>
</html>
